main.not-found-page {
  h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2em;
  }
  button {
    background-color: #161616;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 1.125rem;
    font-weight: 700;
    padding: 1em 3em;
    width: 100%;
    cursor: pointer;
  }
}